body{

}
.landing-section{
  width: 100%;
  height: 50vh;
}
#home-landing{
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
}
#logo{
  width: 100%;
}



@media (min-width: ;){

}
